<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>About us - Lorem ipsum company</title>
</head>

<body>
  <section class="hero is-info">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item is-uppercase has-text-weight-bold	is-size-4	" href="index.html">
              <%= capitalize(loremIpsum({count:3, units:"word"})) %>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item" href="index.html">
                Home
              </a>
              <a class="navbar-item is-active" href="about.html">
                About us
              </a>
              <a class="navbar-item" href="boring.html">
                Boring stuff
              </a>
              <a class="navbar-item" href="superboring.html">
                Even more boring stuff
              </a>
              <a class="navbar-item" href="http://www.zsk.iiar.pwr.edu.pl/zsk/dyd/intinz/piw/lab/" title="Lovely PWR">
                <span class="icon is-large">
                  <i class="fas fa-2x fa-school" aria-hidden="true"></i>
                </span>
              </a>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-tablet is-vcentered is-centered">
          <div class="column">
            <h1 class="title">
              <%= capitalize(loremIpsum({count:3, units:"word"})) %>
            </h1>
            <p class="subtitle">
              <%= capitalize(loremIpsum({count:3, units:"word"})) %>
              <strong><%= loremIpsum({count:1, units:"word"}) %></strong>!
            </p>
          </div>
          <div class="column has-text-centered" id="title-image-container">
            <figure class="image is-1by1" id="title-image">
              <img src="https://picsum.photos/300/300" />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column" id="contact">
          <div class="title">
            Contact us anytime!
          </div>
          <div class="box">
            <p>
              <span class="icon is-large has-text-info">
                <i class="fas fa-3x fa-home" aria-hidden="true"></i>
              </span>
              <span class="has-text-weight-medium	">
                <%= faker.address.streetAddress()%>,<br><%= faker.address.city()%></span>
            </p>
            <p>
              <span class="icon is-large has-text-info">
                <i class="fas fa-3x fa-phone" aria-hidden="true"></i>
              </span>
              <span class="has-text-weight-medium	"><a
                  href="tel:<%= faker.phone.phoneNumber()%>"><%= faker.phone.phoneNumber()%></a></span>
            </p>
            <p>
              <span class="icon is-large has-text-info">
                <i class="fas fa-3x fa-blender-phone" aria-hidden="true"></i>
              </span>
              <span class="has-text-weight-medium	"> <a href="tel:<%= faker.phone.phoneNumber()%>">
                  <%= faker.phone.phoneNumber()%></a></span>
            </p>
            <p>
              <span class="icon is-large has-text-info">
                <i class="fas fa-3x fa-baby" aria-hidden="true"></i>
              </span>
              <span> <%= capitalize(loremIpsum({count:5, units:"word"}))%>!</span>
            </p>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="https://api.adorable.io/avatars/96/<%=loremIpsum({count:1, units:'word'})%>.png"
                    alt="Avatar">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong><%= faker.name.firstName()+' '+faker.name.lastName()%></strong>
                    <small>@<%= faker.internet.userName()%></small>
                    <br>
                    <%= loremIpsum({count:1, units:"paragraph"}) %>
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fas fa-reply" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fas fa-retweet" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="like">
                      <span class="icon is-small">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
          <div class="box">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="https://api.adorable.io/avatars/96/<%=loremIpsum({count:1, units:'word'})%>.png"
                    alt="Avator">
                </figure>
              </div>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong><%= faker.name.firstName()+' '+faker.name.lastName()%></strong>
                    <small>@<%= faker.internet.userName()%></small>
                    <br>
                    <%= loremIpsum({count:1, units:"paragraph"}) %>
                  </p>
                </div>
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fas fa-reply" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fas fa-retweet" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="like">
                      <span class="icon is-small">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
        </div>
      </div>

    </div>
    </div>
  </section>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong><%= capitalize(loremIpsum({count:2, units:"words"})) %>!</strong>
        <%= loremIpsum({count:2, units:"sentences"})%>
      </p>
    </div>
  </footer>
</body>

</html>